<head>
  <!-- include jQuery -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
  <!-- include Cycle2 -->
  <script src="../../assets/javascripts/jssor.slider.mini.js"></script>
</head>
  
<div class="browse-logo"><%= image_tag 'adoptr-logo.png' %></div>
<div class="social-bar-browse"> 
  <ul>
    <li><div class="social-icon"><%= image_tag 'twitter-clear.png' %></div></li>
    <li><div class="social-icon"><%= image_tag 'facebook-clear.png' %></div></li>
    <li><div class="social-icon"><%= image_tag 'google-clear.png' %></div></li>
    <li><div class="social-icon"><%= image_tag 'dotdot-clear.png' %></div></li>
  </ul>
  <div class="slogan-browse"><h1>connecting good pets with good people.</h1></div>
</div>
<hr class="breakline">

<div id="browse-page" class="container-fluid">  
  <div class="row-1 col-md-12">
  
      <div id="slider1_container">
        <!-- Slides Container -->
        <div u="slides" class="slides">
        
          
          <div class="img-responsive"><%= image_tag "skylar-carousel.png" %></div>
          <div class="img-responsive"><%= image_tag "skylar-carousel2.png" %></div>
          <div class="img-responsive"><%= image_tag "skylar-carousel3.png" %></div>
        </div>
      </div> 
  </div>

  <div class="browse-nav">
  <ul>
    <li><div class="button-yes">view</div></li>
    <li><div class="button-no">pass</div></li>
  </ul>
</div>

  <div class="row-1">
    <div class="col-md-12 personality-bar">
      <div style="color:white"><h1>Personality</h1></div>
      <!-- Progress Bar --> 
      <div class="progress">
        <div class="bar" style="width: 85%;">age</div>
        </div>  
        <div class="progress">
        <div class="bar" style="width: 75%;">demeanor</div>
        </div>    
        <div class="progress">
        <div class="bar" style="width: 100%;">plays well with others</div>
        </div> 
        <div class="progress">
        <div class="bar" style="width: 55%;">likes children</div>
        </div> 
        <div class="bar" style="width: 85%;">needs walks</div>
        </div>  
        <div class="progress">
        <div class="bar" style="width: 75%;">drool factor</div>     
        </div> 
      </div>
      <!-- Progress Bar End --> 

    </div>

  </div>

</div>


