<h1>Dogs#new</h1>
<%= form_for @dog, :url => dogs_path, :html => { :multipart => true } do |f| %>
  
  	<div>
		<%= f.text_field :animal_type, placeholder: 'Animal Type' %>
	</div>
	<div>
		<%= f.text_field :breed, placeholder: 'Breed' %>
	</div>
	<div>
		<%= f.email_field :sex, placeholder: 'Male/Female' %>
	</div>
	<div>
		<%= f.email_field :email_confirmation, placeholder: 'Confirm email' %>
	</div>
	<div>
		<%= f.password_field :password, placeholder: 'Password' %>
	</div>
	<div>
  		<%= f.file_field :image %>
  	</div>
  	<div>
  		<%= f.submit %>
  	</div>
<% end %>
