<h1>Dogs#new</h1>
<% if @dog.errors.any? %>
		<% @dog.errors.full_messages.each do |error| %>
			<p style="color: red;"><%= error %></p>
		<% end %>
	<% end %>

<%= form_for @dog, :html => { :multipart => true } do |f| %>

	<div>
		<%= f.text_field :animal_type, placeholder: 'Animal Type' %>
	</div>
	<div>
		<%= f.text_field :name, placeholder: 'Name' %>
	</div>
	<div>
		<%= f.text_field :breed, placeholder: 'Breed' %>
	</div>
	<div>
		<%= f.text_field :sex, placeholder: 'Male/Female' %>
	</div>
	<div>
		<%= f.text_field :size, placeholder: 'Small/Medium/Large' %>
	</div>
	<div>
		<%= f.text_field :age, placeholder: 'Baby/Young/Adult/Senior' %>
	</div>
	<div>
		<%= f.text_field :description, placeholder: 'Description' %>
	</div>
	<div>
		<%= f.text_field :location, placeholder: 'City/State' %>
	</div>
	<div>
		<%= f.text_field :http, placeholder: 'http' %>
	</div>
	<div>
  		<%= f.file_field :image1 %>
  	</div>
  	<div>
  		<%= f.file_field :image2 %>
  	</div>
  	<div>
  		<%= f.file_field :image3 %>
  	</div>
  	<div>
  		<%= f.submit %>
  	</div>
<% end %>