<<<<<<< HEAD
<head>
  <!-- include jQuery -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
  <!-- include Cycle2 -->
  <script src="../../assets/javascripts/jssor.slider.mini.js"></script>
</head>
  
 <div class="logo profile-logo"><%= image_tag 'adoptr-logo.png' %></div>
<hr class="breakline">


<div class="row-1">
  <div class="col-md-12">
    <div id="slider1_container">
      <!-- Slides Container -->
      <div u="slides" class="slides">
        <div><%= image_tag "skylar-carousel.jpg" %></div>
        <div><%= image_tag "skylar-carousel2.jpg" %></div>
        <div><%= image_tag "skylar-carousel3.jpg" %></div>
      </div>
    </div>
  </div>
</div>

<div class="row-2">
  <div class="col-md-6 stats">
    <div class="lead"><h2>personality</h2></div>
    <!-- Progress Bar --> 
    <div class="progress">
      <div class="bar" style="width: 85%;">age</div>
      </div>  
      <div class="progress">
      <div class="bar" style="width: 75%;">demeanor</div>
      </div>    
      <div class="progress">
      <div class="bar" style="width: 100%;">plays well with others</div>
      </div> 
      <div class="progress">
      <div class="bar" style="width: 55%;">likes children</div>
      </div> 
      <div class="bar" style="width: 85%;">needs walks</div>
      </div>  
      <div class="progress">
      <div class="bar" style="width: 75%;">drool factor</div>     
      </div> 
    </div>
    <!-- Progress Bar End --> 
  </div>
</div>

<div class="row-2">
  <div class="col-md-6">
    <div class="lead"><h1>About Me</h1></div>
    <p> The story of my life!  please save me! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim suscipit unde nemo aspernatur itaque qui quas voluptas quaerat nam laudantium. Vero eligendi et, nisi consequuntur suscipit molestiae laborum inventore quia.</p>
    <p>story of my life!  please save me! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim suscipit unde nemo aspernatur itaque qui quas voluptas quaerat nam laudantium. Vero eligendi et, nisi consequuntur suscipit molestiae laborum inventore quia.</p>
    <p>story of my life!  please save me! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim suscipit unde nemo aspernatur itaque qui quas voluptas quaerat nam laudantium. Vero eligendi et, nisi consequuntur suscipit molestiae laborum inventore quia.</p>
  </div>
</div>

<div class="col-md-6 location">
  <h1>Location</h1>
  <p>This is the content of the article Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, nam accusamus nemo, praesentium cumque temporibus cupiditate aperiam iusto quisquam mollitia magnam eius earum, blanditiis sit. Eum totam possimus quibusdam numquam.</p>
</div>
=======
>>>>>>> 86e7d1f2b731e27d1491d44f7083e3d2ca695cd7




<<<<<<< HEAD
<%= image_tag @dog.image1.url(:medium) %>

<%= image_tag @dog.image2.url(:thumb) %>



<%= @dog.animal_type %>
<%= @dog.breed %>
<%= @dog.sex %>
<%= @dog.age %>
<%= @dog.description %>
<%= @dog.location %>
<%= link_to "Adopt Me", @dog.http %>


=======










<!--   < image_tag("dog-bg.jpg", :alt => "bg") > -->


<%= image_tag @dog.image1.url(:medium) %>

<%= image_tag @dog.image2.url(:thumb) %>


<%= @dog.animal_type %>
<%= @dog.breed %>
<%= @dog.sex %>
<%= @dog.age %>
<%= @dog.description %>
<%= @dog.location %>
<%= link_to "Adopt Me", @dog.http %>


>>>>>>> 86e7d1f2b731e27d1491d44f7083e3d2ca695cd7
