<head>
  <!-- include jQuery -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
  <!-- include Cycle2 -->
  <script src="../../assets/javascripts/jssor.slider.mini.js"></script>
</head>
  
 <div class="logo profile-logo"><%= image_tag 'adoptr-logo.png' %></div>
<hr class="breakline">

<h1><%= @dog.name %></h1>

<div class="row-1">
  <div class="col-md-9">
    <div id="slider1_container">
      <!-- Slides Container -->
      <div u="slides" class="slides">
        
        </div>
        <div><%= image_tag @dog.image1.url(:medium) %></div>
        <div><%= image_tag @dog.image2.url %></div>
        <div><%= image_tag @dog.image3.url %></div> 
      </div>
    </div>
  </div>
</div>
<div class="row-1">
  <div class="col-md-4 stats">  
    <h1>Personality</h1>
    <div class="progress">
      <div class="bar" style="width: 45%;">age</div>
      </div>  
      <div class="progress">
      <div class="bar" style="width: 95%;">demeanor</div>
      </div>    
      <div class="progress">
      <div class="bar" style="width: 90%;">plays well with others</div>
      </div> 
      <div class="progress">
      <div class="bar" style="width: 75%;">likes children</div>
      </div> 
      <div class="bar" style="width: 65%;">needs walks</div>
      </div> 
    </div>
  </div>
  <div class="col-md-4">
    <div class="bio">
      <h1>About Me</h1>
        <h2 style="font-size: 2.3em; opacity: .8"> type (dog/cat): <%= @dog.animal_type %></h2>
        <br>
        <h2 style="font-size: 2.3em; opacity: .8">breed: <%= @dog.breed %></h2>
        <br>
        <h2 style="font-size: 2.3em; opacity: .8">sex: <%= @dog.sex %></h2>
        <br>
        <h2 style="font-size: 2.3em; opacity: .8">age: <%= @dog.age %></h2>
        <br>
        <h2 style="font-size: 2.3em; opacity: .8">description: <%= @dog.description %></h2>
        <br>
        <h2 style="font-size: 2.3em; opacity: .8">location: <%= @dog.location %></h2>
        <br>
    </div>
  </div>
  <div class="col-md-3">
    
    <div class="adopt-button"><%= link_to "Adopt Me!", @dog.http %></div>
  </div>
  <div class="col-md-3 location">
    <h1>Location</h1>
    <p>This is the content of the article Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, nam accusamus nemo, praesentium cumque temporibus cupiditate aperiam iusto quisquam mollitia magnam eius earum, blanditiis sit. Eum totam possimus quibusdam numquam.</p>
  </div>
</div>
