
<h1>Welcome to Adaptr</h1>



<div class="bubble-box">
  <div class="bubble bubble-sm"><%= image_tag 'betty.jpg', class:  'img-circle img-responsive' %></div>
  <div class="bubble bubble-md"><%= image_tag 'brownie.jpg', class:  'img-circle img-responsive' %></div>
  <div class="bubble bubble-lg"><%= image_tag 'skylar.jpg', class:  'img-circle img-responsive' %></div>
  <div class="bubble bubble-lg"><%= image_tag 'petra.jpg', class:  'img-circle img-responsive' %></div>
  <div class="bubble bubble-md"><%= image_tag 'ros.jpg', class:  'img-circle img-responsive' %></div>
  <div class="bubble bubble-sm"><%= image_tag 'corgi.jpg', class:  'img-circle img-responsive' %></div>

</div>



<%= link_to "sign up", view_registration_path %>

<%= link_to "log in" , view_session_path %>
