


<h1>Welcome to Adoptr</h1>


<%= link_to "sign up", view_registration_path %>

<%= link_to "log in" , view_session_path %>


<div class="bubble-box">
  <div class="bubble-sm bubble1"><%= image_tag 'betty.jpg', class:  'img-circle img-responsive, bubble' %></div>
  <div class="bubble-md2 bubble2"><%= image_tag 'brownie.jpg', class:  'img-circle img-responsive, bubble' %></div>
  <div class="bubble-lg bubble3"><%= image_tag 'skylar.jpg', class:  'img-circle img-responsive, bubble' %></div>
  <div class="bubble-md bubble4"><%= image_tag 'petra.jpg', class:  'img-circle img-responsive, bubble' %></div>
  <div class="bubble-md bubble5"><%= image_tag 'ros.jpg', class:  'img-circle img-responsive, bubble bubble6' %></div>
  <div class="bubble-sm"><%= image_tag 'corgi.jpg', class:  'img-circle img-responsive, bubble' %></div>

</div>



