<!DOCTYPE html>
<html>
<head>
  <title>Adopter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<<<<<<< HEAD
=======

       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
       
>>>>>>> 2784aac7b0551a3f7e624ef08f3b96dcaaabe60e
<%= yield %>

</body>
</html>
